:root{
  --white: #f8f7f1;
  --background: #4c6d75;
  --backgroundLoad: #222831f8;
}
.App {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.spinner{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(--backgroundLoad);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner>i{
  font-size: 3rem;
  color: #e0e0e0;
  animation: spin infinite 8s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wheather{
  display: flex;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 20px -12px #080808;
  overflow: hidden;
}
.date{
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 1rem 2rem;
}
.date h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1rem;
}
.date .hour-info{
  font-size: 1rem;
}
.date p{
  font-weight: 500;
}

.clime{
  background: 
  linear-gradient(
    to right,
    #4747474b,
    #2c2c2c7e
   ), 
   url(https://source.unsplash.com/g30P1zcOzXo);
  background-size: cover;
  padding: 1rem 5rem 1rem 2rem;
  width: 170px;
  position: relative;
  color: var(--white);
}
.clime p, h3{
  line-height: .8rem;
  font-weight: 500;
}
.clime .temp{
  font-weight: 500;
  font-size: 1.5rem;
}
.clime .icon-temp{
  font-size: 1rem;
}
.clime>img{
  width: 90px;
  margin: -10px;
  position: relative;
} 
.clime>button{
  background-color: var(--white);
  color: #4c5258;
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 2px 30px -12px #eeeeee;
  border: none;
  margin: 1rem 0;
  padding: .6rem 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  transition: 200ms linear;
}
.clime>button:hover{
  color: #13191b;
}
.clime button>i{
  font-size: 1.4rem;
}

.icon-git{
  position: absolute;
  top: 10%;
  color: #1b292e;
  font-size: 1.7rem;
  margin: 1rem;
  transition: 200ms linear;
}
.icon-git:hover{
  color: #0e191d;
}

@media screen and (max-width: 600px) {
  .wheather{
    flex-direction: column;
  }
}